body{
    background-image: url("../GeneralPics/BG.jpg");
    background-size: cover;
    background-attachment: fixed;
    color:rgb(245, 226, 166);
    margin:0px;
}

#ChefPic{
    height:450px;
    width:300px;
}
ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
li{
    margin: 8px;
    text-align: center;
}
.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.7);
    padding: 8px;
    font-size: large;
}
.FoodCard{
    background-color: rgba(0, 0, 0, 0.623);
    height: 400px;
    width: 400px;
    display: flex;
    flex-basis: 33%;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    margin: 8px;
    border-radius: 8px;
}
.foodPic{
    height:200px;
    width: 200px;
}
.MenuCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.HomePage,.Contact,.MenuCard{
    padding: 8px;
}