body{
    background-image: url("./RestaurantBG.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color:white;
}
ul{
  list-style: none;
  display: flex;
}
li{
    margin: 8px;
}
.Header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}